<div class="calendar" id="calendar">
    <div class="calendar-header">
        <button type="button" class="control control--prev">&lt;</button>
        <span class="month-name">September 2020</span>
        <button type="button" class="control control-next">&gt;</button>
    </div>
    <div class="calendar-body">
        <div class="grid">
            <div class="grid-header">
                <span class="grid-cell grid-cell-gh">Sunday</span>
                <span class="grid-cell grid-cell-gh">Monday</span>
                <span class="grid-cell grid-cell-gh">Tuesday</span>
                <span class="grid-cell grid-cell-gh">Wednesday</span>
                <span class="grid-cell grid-cell-gh">Thursday</span>
                <span class="grid-cell grid-cell-gh">Friday</span>
                <span class="grid-cell grid-cell-gh">Saturday</span>
            </div>
            <div class="grid-body">
                <span *ngFor="let cell of cells" class="grid-cell grid-cell--gd">
                    {{ cell.date.date() }}
                </span>
            </div>
        </div>
    </div>
</div>