<div class="calendar" id="calendar">
    <div class="calendar-header">
        <button type="button" class="control control--prev">&lt;</button>
        <span class="month-name">September 2020</span>
        <button type="button" class="control control-next">&gt;</button>
    </div>
    <div class="calendar-body">
        <div class="grid">
            <div class="grid-header">
                <span class="grid-cell grid-cell-gh">Sunday</span>
                <span class="grid-cell grid-cell-gh">Monday</span>
                <span class="grid-cell grid-cell-gh">Tuesday</span>
                <span class="grid-cell grid-cell-gh">Wednesday</span>
                <span class="grid-cell grid-cell-gh">Thursday</span>
                <span class="grid-cell grid-cell-gh">Friday</span>
                <span class="grid-cell grid-cell-gh">Saturday</span>
            </div>
            <div class="grid-body">
                <span class="grid-cell grid-cell-gd grid-cell-selected">1</span>
                <span class="grid-cell grid-cell-gd">2</span>
                <span class="grid-cell grid-cell-gd">3</span>
                <span class="grid-cell grid-cell-gd">4</span>
                <span class="grid-cell grid-cell-gd">5</span>
                <span class="grid-cell grid-cell-gd">6</span>
                <span class="grid-cell grid-cell-gd">7</span>
                <span class="grid-cell grid-cell-gd">8</span>
                <span class="grid-cell grid-cell-gd">9</span>
                <span class="grid-cell grid-cell-gd">10</span>
                <span class="grid-cell grid-cell-gd">11</span>
                <span class="grid-cell grid-cell-gd">12</span>
                <span class="grid-cell grid-cell-gd">13</span>
                <span class="grid-cell grid-cell-gd">14</span>
                <span class="grid-cell grid-cell-gd">15</span>
                <span class="grid-cell grid-cell-gd">16</span>
                <span class="grid-cell grid-cell-gd">17</span>
                <span class="grid-cell grid-cell-gd">18</span>
                <span class="grid-cell grid-cell-gd">19</span>
                <span class="grid-cell grid-cell-gd">20</span>
                <span class="grid-cell grid-cell-gd">21</span>
                <span class="grid-cell grid-cell-gd">22</span>
                <span class="grid-cell grid-cell-gd">23</span>
                <span class="grid-cell grid-cell-gd">24</span>
                <span class="grid-cell grid-cell-gd">25</span>
                <span class="grid-cell grid-cell-gd">26</span>
                <span class="grid-cell grid-cell-gd">27</span>
                <span class="grid-cell grid-cell-gd">28</span>
                <span class="grid-cell grid-cell-gd">29</span>
                <span class="grid-cell grid-cell-gd">30</span>
                <span class="grid-cell grid-cell-gd">31</span>
                <span class="grid-cell grid-cell-gd">32</span>
                <span class="grid-cell grid-cell-gd">33</span>
                <span class="grid-cell grid-cell-gd grid-cell-disabled">34</span>
                <span class="grid-cell grid-cell-gd grid-cell-disabled">35</span>
            </div>
        </div>
    </div>
</div>